<!doctype html>
<html long="es">

  <head>
      <meta charset="utf-8">
      <meta name="viweport" content="width=device-width,initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title> {{libro}} </title>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'bookflixApp/styles/style.css' %}">
      <style>
        .info {
            margin-left: 5%;
            width: 300px;
            position: absolute;
        }
        ::-webkit-scrollbar{
          display: none;
        }
      </style>
  </head>

      <body>
        <!--caja todo-->
        <div class="General">
          <img style="position: absolute; width: 100%; height: 100%;" src="{% static 'bookflixApp/imagenes/background.jpg' %}">
          <!--caja BarraSuperior-->
            <div class="BarraSuperior">

              <a href="/home/"><img class="logo" style="padding-right: 20px" src="{% static 'bookflixApp/imagenes/logo.png' %}" width="300" ></a>


              <!--caja <header -->
              <div id="header">

                <!--caja navUser -->
                <ul class="navUser" style="padding-top: 20px;">

                  <li>
                    {% if request.user.is_staff == 0 %}
                    <a href=""><img width="35px" src=http://localhost:8001/Plantillas/Portadas/{{perfil.foto}}.jpg></a>
                    {%else%}
                    <a href=""><img width="35px" src=http://localhost:8001/Plantillas/Portadas/FotoAdmin.png></a>
                    {%endif%}
                      <ul>
                        {% if request.user.is_staff == 0 %}
                          <li><a href="/miperfil/">Mi Cuenta</a></li>
                          <li><a href="/elegirPerfil/">Cambiar de Perfil</a></li>
                          <li><a href="/favoritos/">Favoritos</a></li>
                        {% else %}
                          <li><a href="/admin/">Sitio de Administrador</a></li>
                        {% endif %}
                          <li><a href="/logout/">Cerrar Sesion</a></li>
                      </ul>
                  </li>
                </ul>

              <!--fin caja header -->
              </div>


              <!--segunda caja header -->
              <div id="headerTwo">

                


                <!--fin segunda caja header -->
                </div>


            <!--fin caja barra BarraSuperior-->
            </div>

            <div class="Centro">
                <center> <h1 style="color: white; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 35px;padding-top: 5px;padding-bottom: 5px;"> Detalle de la Novedad</h1> </center>
                <hr>
                <div style="padding-top: 25px;">
                    <div id="datosDelLibro">
                        <p style="font-size: 35px;padding-top: 10px;margin-left: 15%;color: rgb(202, 202, 202); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{nov.titulo}}</p>
                      <p style="margin-left: 18%; font-family: sans-serif;color: white;margin-right: 5%;padding-top: 10px;font-size: 20px;">{{nov.descripcion}}</p>
                      <br>
                      <p style="margin-left: 15%; font-family: cursive;color: white;margin-right: 5%;padding-top: 10px;font-size: 12px;">Fecha de publicacion: {{nov.fecha}}</p>
                      <br>
                      </div>
                    
                </div>
            <!-- fin centro -->
            </div>

        <!--fin caja todo-->
        </div>

      </body>
        <script src="{% static 'bookflixApp/js/myscript.js' %}"></script>

</html>