<!doctype html>
<html long="es">

  <head>
      <meta charset="utf-8">
      <meta name="viweport" content="width=device-width,initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title> Home </title>
      {% load static %} 
      <link rel="stylesheet" type="text/css" href="{% static 'bookflixApp/styles/style.css' %}">
      <style type="text/css">
        #cuadro{
          width: 300px;
        }
        .libros li {
          vertical-align: top;
          display: inline-block;
          font-size: 1.2em;
          padding: 1.5em;
        }
        .boton_iniciarSession{
          text-decoration: none;
          padding: 5px;
          font-weight: 500;
          font-size: 10px;
          color: #ffffff;
          background-color: #b71e1e;
          border-radius: 15px;
          border: 2px solid #ffffff;
        }
        ::-webkit-scrollbar{
          display: none;
        }
      </style>
  </head>

      <body>
        <!--caja todo-->
        <div class="General">
          <img style="position: absolute; width: 100%; height: 100%;" src="{% static 'bookflixApp/imagenes/background.jpg' %}">
          <!--caja BarraSuperior-->
            <div class="BarraSuperior">

              <a href="/home/"><img class="logo"  src="{% static 'bookflixApp/imagenes/logo.png' %}" width="300" ></a>


              <!--caja <header -->
              <div id="header">

                <!--caja navUser -->
                <ul class="navUser" style="padding-top: 20px;">

                  <li>
                    {% if request.user.is_staff == 0 %}
                    <a href=""><img width="35px" src=http://localhost:8001/Plantillas/Portadas/{{perfil.foto}}.jpg></a>
                    {%else%}
                    <a href=""><img width="35px" src=http://localhost:8001/Plantillas/Portadas/FotoAdmin.png></a>
                    {%endif%}
                      <ul>
                        {% if request.user.is_staff == 0 %}
                          <li><a href="/miperfil/">Mi Cuenta</a></li>
                          <li><a href="/elegirPerfil/">Cambiar de Perfil</a></li>
                          <li><a href="/favoritos/">Favoritos</a></li>
                        {% else %}
                          <li><a href="/admin/">Sitio de Administrador</a></li>
                        {% endif %}
                          <li><a href="/logout/">Cerrar Sesion</a></li>
                      </ul>
                  </li>
                </ul>

              <!--fin caja header -->
              </div>


              <!--segunda caja header -->
              


            <!--fin caja barra BarraSuperior-->
            </div>

            <div class="Centro">
            <center>
              <form id="formulario" action='/resultadosBusqueda/' method="GET" style="padding-top: 15px;padding-bottom: 15px;">
                <input type="number" value="0" name="dist" hidden="True">
                <input id=cuadro type="text" name="busqueda" placeholder="Ingrese titulo de libro o nombre de autor a buscar">
                <input class="boton_iniciarSession" type="submit" value="Buscar">
                <a class="boton_iniciarSession" href="/historial/">Historial de Busqueda</a>
              </form>
              
              
            </center>
            
            <div>

              <center> <h1 style="color: white; padding-bottom:25px; padding-top: 15px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 35px;"> AÑADIDOS RECIENTEMENTE  <h1> </center>
            <hr>
            <div style="padding-top: 25px;">
              <center>
                <ul class="libros">
                  {% for l in librosC %}
                    {% for a in librosS %}
                      {% if a.id == l.id %}
                      <li>
                        <form action="/mostrarInfoLibro/" method="GET">
                              
                              <input type="number" hidden="True" name="isbn" value={{a.isbn}}>
                              <button type="submit" style="background-color: transparent;border-color: transparent;"><img width="120px" height="175px" src=http://localhost:8001/Plantillas/Portadas/{{l.titulo}}-{{l.autor}}.jpg></button>
                              
                              <center><small style="color: white;"> {{a.titulo}} </small></center>
                              <center><small style="color: white;"> {{a.autor}} </small></center>
                        </form>
                      <br>
                          <br><br>
                      {% endif %}
                      </li>
                    {% endfor %}
                {% endfor %}
                </ul>
                </center>
            </div>
          
            <div>
              <div style="padding-bottom: 15px;">
                
                <center> <h1 style="color: white; padding-bottom:25px; padding-top: 25px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 35px;"> NOVEDADES <h1> </center>
                <hr>  
              </div> 

              {% for t in todos %}
              <button class="accordion">{{t.fecha}}: {{t.titulo}}</button>
              <div class="panel">
                <p style="padding-bottom: 10px;padding-top: 10px;">{{t.descripcion}}.</p>
                <form method="GET" action="/verDetalleNovedad/">
                  <input type="number" value="{{t.id}}" name="nov" hidden="True">
                  <input  class="boton_iniciarSession" type="submit" value="Ver novedad completa">
                </form>
              </div>

              {% endfor %}

              <!-- fin accordion-->
            </div>
            <!-- fin centro -->
            </div>     
            

        <!--fin caja todo-->
        </div>
        
          
      </body>
        <script src="{% static 'bookflixApp/js/myscript.js' %}"></script>

</html>
